.night-theme-btn {
    position: absolute;
    right: 320px;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    outline: none;
    transition: filter .4s;
    cursor: pointer;
}

.night-theme-btn:hover{
    filter: brightness(70%);
}


body {
  background-image: linear-gradient(to bottom, #0D9DDA, #E8E8E8);
  height: 100vh;
  transition: background-image .4s;
}

body.night-theme {
  background-image: linear-gradient(to bottom, #002636, #8D3C2D);
  height: 100vh;
  transition: background-image .4s;
}
